@model DietMealApp.Core.ViewModels.ProductRow

<tr class="d-table-row mb-3">
    <td style="width:70%">
        <select class="form-control select-class" onchange="calcNutri()" id="selectedProduct_@Model.Index" name="MealProducts[@Model.Index].ProductId">
            <option selected> --Wybierz produkt-- </option>
            @foreach (var product in Model.Products)
            {
                <option value="@product.Id" data-kcal="@product.Kcal" data-protein="@product.Protein" data-carbo="@product.Carbohydrates" data-fats="@product.Fats">@product.ProductName</option>
            }
        </select>
    </td>
    <td style="width:30%">
        <input id="quantity_@Model.Index" onkeyup="calcNutri()" class="form-control quantity-class" name="MealProducts[@Model.Index].Quantity" placeholder="Ilość" />
    </td>
    <td>
        <button type="button" style="color:red" onclick="DeleteRow(this)" class="btn"><i class="fa fa-close"></i></button>
    </td>
</tr>