@model DietMealApp.Core.DTO.Meals.MealFormDTO
@using DietMealApp.Core.Enums;
@{

}
<h1>Edycja posiłku</h1>

<form method="post" class="mt-3" enctype="multipart/form-data" id="mealForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input id="mealId" type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <div class="container">
        <div class="row mb-3">
            <div class="col-9">
                <div class="form-group row mb-3">
                    <label asp-for="MealName" class="col-sm-2 col-form-label fw-bold">
                        Nazwa
                    </label>
                    <div class="col">
                        <input asp-for="MealName" class="form-control" placeholder="Nazwa posiłku">
                        <span asp-validation-for="MealName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label asp-for="TypeOfMeal" class="col-sm-2 col-form-label fw-bold">
                        Typ
                    </label>
                    <div class="col">
                        <select class="form-control" asp-for="TypeOfMeal"
                                asp-items="Html.GetEnumSelectList<MealTimeType>()">
                        </select>
                        <span asp-validation-for="TypeOfMeal" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label asp-for="NumberOfServings" class="col-sm-2 col-form-label fw-bold">
                        Ilość porcji
                    </label>
                    <div class="col">
                        <input asp-for="NumberOfServings" class="form-control" placeholder="Ilość porcji">
                        <span asp-validation-for="NumberOfServings" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label asp-for="Description" class="col-sm-2 col-form-label fw-bold">
                        Opis
                    </label>
                    <div class="col">
                        <textarea asp-for="Description" class="form-control" rows="6" placeholder="Opis"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <hr class="dashed">
                <table id="productsTable" style="width:100%">
                    <tr>
                        <th style="width:70%" class="col">Nazwa produktu</th>
                        <th style="width:30%" class="col">Ilość (w gramach)</th>
                        <th style="width:10%" class="col"></th>
                    </tr>
                    @if (Model.MealProducts != null)
                    {
                        @for (int i = 0; i < Model.MealProducts.Count; i++)
                        {
                            <tr class="d-table-row">
                                <td style="width:70%">
                                    <select class="form-control select-class" id="selectedProduct_@i" name="@Model.MealProducts[i].ProductId">
                                        @foreach (var product in Model.Products)
                                        {
                                            if (product.Id == Model.MealProducts[i].ProductId)
                                            {
                                                <option selected value="@product.Id">@product.ProductName</option>
                                            }
                                            <option value="@product.Id">@product.ProductName</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:30%">
                                    <input id="quantity" class="form-control quantity-class" name="@Model.MealProducts[i].Quantity" placeholder="Ilość" value="@Model.MealProducts[i].Quantity" />
                                </td>
                                <td>
                                    <button type="button" onclick="DeleteRow(this)" style="color:red" class="btn"><i class="fa fa-close"></i></button>
                                </td>
                                <input type="hidden" name="@Model.MealProducts[i].MealId" />
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="col-3">
                @if (Model.Photo150x150Path == null)
                {
                    <label asp-for="Photo150x150Path" class="col-form-label">
                        <img id="PhotoPreview" class="card-img-top" style="width:256px; height:256px" src="http://dietmealapp.cba.pl/products/full/a9be73f2-728c-411d-ae34-df1be4420e52.png" asp-append-version="true" />
                    </label>
                }
                else
                {
                    <label asp-for="Photo150x150Path" class="col-form-label">
                        <img id="PhotoPreview" class="card-img-top" style="width:256px; height:256px" src="@Model.Photo150x150Path" />
                    </label>
                    <input asp-for="Photo150x150Path" type="hidden">
                    <input asp-for="PhotoFullPath" type="hidden">
                }
                <div class="col custom-file" lang="pl">
                    <input asp-for="Photo" type="file" onchange="readURL(this);" class="form-control form-control-sm fw-bold">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="button" id="add-row" class="btn btn-link"><i class="fa fa-plus"></i> Dodaj produkt</button>
        </div>
        <div class="col-sm-12" style="display:flex; justify-content:flex-end">
            <button style="margin-right:10px" type="submit" class="btn btn-primary">Aktualizuj</button>
            <a asp-action="Index" class="btn btn-danger">Wróć do listy posiłków</a>
        </div>
    </div>
    <div class="form-group row">
    </div>
</form>
@section Scripts {
<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
<script type="text/javascript">

    $(document).on("click", "#add-row", function () {
        var indexProductTable = document.getElementById("productsTable").rows.length - 1;
        $.ajax({
            method: "GET",
            url: "/Meal/AddProductRow?index=" + indexProductTable,
            success: function (data) {
                $("#productsTable").append(data);
            }
        });
    });

    function DeleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("productsTable").deleteRow(i);
    };

    $(document).ready(function () {
        const mealForm = document.querySelector('#mealForm');
        mealForm.addEventListener('submit', function resetFields() {

            var count = 0;
            var products = $("#productsTable .select-class");
            $.each(products, function () {
                $(this).attr(`name`, `MealProducts[${count}].ProductId`);
                count++;
            });

            var count = 0;
            var quantity = $("#productsTable .quantity-class");
            $.each(quantity, function () {
                $(this).attr(`name`, `MealProducts[${count}].Quantity`);
                count++;

            });
        });
    });

    function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#PhotoPreview')
                                .attr('src', e.target.result)
                                .width(300)
                                .height(300);
                            $('#PhotoPreview').show();
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                    }
</script>