@model List<DietMealApp.Core.DTO.Meals.MealDTO>
@{
    ViewData["Title"] = "Index";
}

<h1>Posiłki</h1>

<div class="form-group row">
    <div class="col-sm-10">
        <a asp-action="Create" class="btn btn-primary">Dodaj nowy</a>
    </div>
</div>
@foreach (var meal in Model)
{
    <input type="hidden" asp-for="@meal.Id" />
    <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
        <div class="card-header">
                <h5>@meal.MealName</h5>
        </div>
        <div class="card-body">
            <h6>Przepis:</h6>
            <p>@meal.Description</p>
            <div class="bot-left-corner">Ilość kalorii: @meal.Kcal</div>
            <div class="bot-right-corner">
                Ilość porcji: @meal.NumberOfServings
            </div>
        </div>
        <div class="card-footer text-center">
            <div class="row">
                <a asp-action="Edit" asp-route-Id="@meal.Id" class="btn btn-primary m-1">Edytuj</a>
                <a asp-action="Copy" asp-route-Id="@meal.Id" class="btn btn-primary m-1">Kopiuj</a>
                <a asp-action="Delete" asp-route-Id="@meal.Id" class="btn btn-danger m-1">Usuń</a>
            </div>
        </div>
    </div>
}