@model List<DietMealApp.Core.DTO.Meals.MealDTO>
@{
    ViewData["Title"] = "Index";
}

<h1>Posiłki</h1>

<div class="form-group row">
    <div class="col-sm-10">
        <a asp-action="Create" class="btn btn-primary">Dodaj nowy</a>
    </div>
</div>

@foreach (var meal in Model)
{
    <input type="hidden" asp-for="@meal.Id" />
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <a asp-action="Edit" asp-route-Id="@meal.Id">
                @if (meal.Photo150x150Path == null)
                {
                    <img class="center" src="http://dietmealapp.cba.pl/products/full/a9be73f2-728c-411d-ae34-df1be4420e52.png" width="150" height="150">
                }
                else
                {
                    <img class="center" src="@meal.Photo150x150Path" width="150" height="150">
                }
                </a>
            </div>
            <div class="col-md-10 card-body">
                    <h5 class="card-title">@meal.MealName</h5>
                    <p class="text-left desc">@meal.Description</p>
                    <div class="bot-left-corner">Kcal: @meal.Kcal; W: @meal.Carbohydrates; T: @meal.Fats; B: @meal.Protein</div>
                    <div class="bot-right-corner">
                        Ilość porcji: @meal.NumberOfServings
                    </div>
            </div>
            <div class="card-footer">
                
                <a asp-action="Copy" asp-route-Id="@meal.Id" class="btn btn-primary m-1" style="display:inline-block">Kopiuj</a>
                <a asp-action="Delete" asp-route-Id="@meal.Id" class="btn btn-danger m-1" style="display:inline-block">Usuń</a>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $(".desc").each(function () {
            if($(this).text().length > 400){
                var newText = ($(this).text()).substr(0, 400) + '...';
                $(this).text(newText);
            }
    });
    });

</script>