@model DietMealApp.Core.DTO.Days.DayFormDTO
@using DietMealApp.Core.Enums;
@{

}

<h1>Edycja dnia diety</h1>

<form id="day" method="post" class="mt-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input id="dayId" type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label">
            Nazwa
        </label>
        <div class="col-sm-4">
            <input asp-for="Name" class="form-control" placeholder="Wprowadź nazwę">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="MealsCount" class="col-sm-2 col-form-label">Ilość posiłków</label>
        <div class="col-sm-4">
            <select disabled="disabled" class="form-control" asp-for="MealsCount" id="mealsCounter">
                <option>-- Ilość posiłków --</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            @Html.HiddenFor(x=>x.MealsCount)
        </div>
    </div>
    <div class="form-group col" id="menu">
        @if (Model.MealsCount == 3)
        {
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="MealItems[0].AssignedMealTimeType" value="1">Śniadanie</label>
                    <input type="hidden" value="1" name="MealItems[0].AssignedMealTimeType" />
                </div>
                <div class="col-sm-6">
                    <select class="form-control" name="MealItems[0].SelectedMeal">
                        @if (Model.MealItems.Count > 0)
                        {
                            @if (Model.MealItems[0].SelectedMeal == Guid.Empty)
                            {
                                <option selected value="0">-- Wybierz posiłek --</option>
                            }
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Breakfast))
                            {
                                if (Model.MealItems[0].SelectedMeal == meal.Id)
                                {
                                    <option selected value="@meal.Id">@meal.MealName</option>
                                }
                                else
                                {
                                    <option value="@meal.Id">@meal.MealName</option>
                                }
                            }
                        }
                        else
                        {
                            <option selected value="0">-- Wybierz posiłek --</option>
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Breakfast))
                            {
                                <option value="@meal.Id">@meal.MealName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="MealItems[1].AssignedMealTimeType" value="2">Obiad</label>
                    <input type="hidden" value="2" name="MealItems[1].AssignedMealTimeType" />
                </div>

                <div class="col-sm-6">
                    <select class="form-control" name="MealItems[1].SelectedMeal">
                        @if (Model.MealItems.Count > 0)
                        {
                            @if (Model.MealItems[1].SelectedMeal == Guid.Empty)
                            {
                                <option selected value="0">-- Wybierz posiłek --</option>
                            }
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Lunch))
                            {
                                if (Model.MealItems[1].SelectedMeal == meal.Id)
                                {
                                    <option selected value="@meal.Id">@meal.MealName</option>
                                }
                                else
                                {
                                    <option value="@meal.Id">@meal.MealName</option>
                                }
                            }
                        }
                        else
                        {
                            <option selected value="0">-- Wybierz posiłek --</option>
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Lunch))
                            {
                                <option value="@meal.Id">@meal.MealName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="MealItems[2].AssignedMealTimeType" value="3">Kolacja</label>
                    <input type="hidden" value="3" name="MealItems[2].AssignedMealTimeType" />
                </div>

                <div class="col-sm-6">
                    <select class="form-control" name="MealItems[1].SelectedMeal">
                        @if (Model.MealItems.Count > 0)
                        {
                            @if (Model.MealItems[2].SelectedMeal == Guid.Empty)
                            {
                                <option selected value="0">-- Wybierz posiłek --</option>
                            }
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Dinner))
                            {
                                if (Model.MealItems[2].SelectedMeal == meal.Id)
                                {
                                    <option selected value="@meal.Id">@meal.MealName</option>
                                }
                                else
                                {
                                    <option value="@meal.Id">@meal.MealName</option>
                                }
                            }
                        }
                        else
                        {
                            <option selected value="0">-- Wybierz posiłek --</option>
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Dinner))
                            {
                                <option value="@meal.Id">@meal.MealName</option>
                            }
                        }
                    </select>
                </div>
            </div>
        }

        @if (Model.MealsCount == 4)
        {
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="MealItems[0].AssignedMealTimeType" value="1">I śniadanie</label>
                    <input type="hidden" value="1" name="MealItems[0].AssignedMealTimeType" />
                </div>
                <div class="col-sm-6">
                    <select class="form-control" name="MealItems[0].SelectedMeal">
                        @if (Model.MealItems.Count > 0)
                        {
                            @if (Model.MealItems[0].SelectedMeal == Guid.Empty)
                            {
                                <option selected value="0">-- Wybierz posiłek --</option>
                            }
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Breakfast))
                            {
                                if (Model.MealItems[0].SelectedMeal == meal.Id)
                                {
                                    <option selected value="@meal.Id">@meal.MealName</option>
                                }
                                else
                                {
                                    <option value="@meal.Id">@meal.MealName</option>
                                }
                            }
                        }
                        else
                        {
                            <option selected value="0">-- Wybierz posiłek --</option>
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Breakfast))
                            {
                                <option value="@meal.Id">@meal.MealName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="MealItems[1].AssignedMealTimeType" value="2">II śniadanie</label>
                    <input type="hidden" value="2" name="MealItems[1].AssignedMealTimeType" />
                </div>
                <div class="col-sm-6">
                    <select class="form-control" name="MealItems[1].SelectedMeal">
                        @if (Model.MealItems.Count > 0)
                        {
                            @if (Model.MealItems[1].SelectedMeal == Guid.Empty)
                            {
                                <option selected value="0">-- Wybierz posiłek --</option>
                            }
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Brunch))
                            {
                                if (Model.MealItems[1].SelectedMeal == meal.Id)
                                {
                                    <option selected value="@meal.Id">@meal.MealName</option>
                                }
                                else
                                {
                                    <option value="@meal.Id">@meal.MealName</option>
                                }
                            }
                        }
                        else
                        {
                            <option selected value="0">-- Wybierz posiłek --</option>
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Brunch))
                            {
                                <option value="@meal.Id">@meal.MealName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="MealItems[2].AssignedMealTimeType" value="3">Obiad</label>
                    <input type="hidden" value="3" name="MealItems[2].AssignedMealTimeType" />
                </div>

                <div class="col-sm-6">
                    <select class="form-control" name="MealItems[2].SelectedMeal">
                        @if (Model.MealItems.Count > 0)
                        {
                            @if (Model.MealItems[2].SelectedMeal == Guid.Empty)
                            {
                                <option selected value="0">-- Wybierz posiłek --</option>
                            }
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Lunch))
                            {
                                if (Model.MealItems[2].SelectedMeal == meal.Id)
                                {
                                    <option selected value="@meal.Id">@meal.MealName</option>
                                }
                                else
                                {
                                    <option value="@meal.Id">@meal.MealName</option>
                                }
                            }
                        }
                        else
                        {
                            <option selected value="0">-- Wybierz posiłek --</option>
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Lunch))
                            {
                                <option value="@meal.Id">@meal.MealName</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="MealItems[3].AssignedMealTimeType" value="4">Kolacja</label>
                    <input type="hidden" value="4" name="MealItems[3].AssignedMealTimeType" />
                </div>

                <div class="col-sm-6">
                    <select class="form-control" name="MealItems[3].SelectedMeal">
                        @if (Model.MealItems.Count > 0)
                        {
                            @if (Model.MealItems[3].SelectedMeal == Guid.Empty)
                            {
                                <option selected value="0">-- Wybierz posiłek --</option>
                            }
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Dinner))
                            {
                                if (Model.MealItems[3].SelectedMeal == meal.Id)
                                {
                                    <option selected value="@meal.Id">@meal.MealName</option>
                                }
                                else
                                {
                                    <option value="@meal.Id">@meal.MealName</option>
                                }
                            }
                        }
                        else
                        {
                            <option selected value="0">-- Wybierz posiłek --</option>
                            @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == MealTimeType.Dinner))
                            {
                                <option value="@meal.Id">@meal.MealName</option>
                            }
                        }
                    </select>
                </div>
            </div>
        }

        @if (Model.MealsCount == 5)
        {
            @for (int i = 0; i < Model.MealsCount; i++)
            {
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="MealItems[@i].AssignedMealTimeType" value="@(i+1)">@(EnumHelper<MealTimeType>.GetDisplayValue((MealTimeType)i+1))</label>
                        <input type="hidden" value="@(i+1)" name="MealItems[@i].AssignedMealTimeType" />
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" name="MealItems[@i].SelectedMeal">
                            @if (Model.MealItems.Count > 0)
                            {
                                @if (Model.MealItems[i].SelectedMeal == Guid.Empty)
                                {
                                    <option selected value="0">-- Wybierz posiłek --</option>
                                }
                                @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == (MealTimeType)i + 1))
                                {
                                    if (Model.MealItems[i].SelectedMeal == meal.Id)
                                    {
                                        <option selected value="@meal.Id">@meal.MealName</option>
                                    }
                                    else
                                    {
                                        <option value="@meal.Id">@meal.MealName</option>
                                    }
                                }
                            }
                            else
                            {
                                <option selected value="0">-- Wybierz posiłek --</option>
                                @foreach (var meal in Model.Meals.Where(a => a.TypeOfMeal == (MealTimeType)i + 1))
                                {
                                    <option value="@meal.Id">@meal.MealName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            }
        }
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Aktualizuj</button>
        <a asp-action="Index" class="btn btn-danger">Anuluj</a>
    </div>
</form>

<script type="text/javascript">
</script>