@model List<DietMealApp.Core.DTO.Days.DayDTO>
@{
    ViewData["Title"] = "Index";
}

<h1>Dni diety</h1>

<div class="form-group row">
    <div class="col-sm-10">
        <a asp-action="Create" class="btn btn-primary">Ułóż nowy dzień diety</a>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-2">
    @foreach (var day in Model)
    {
        <input type="hidden" asp-for="@day.Id" />
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>@day.Name</h5>
                </div>
                <div class="card-body">
                    <ul>
                        <li>ŚI: @day.DayMeals.Where(a=>a.Type == DietMealApp.Core.Enums.MealTimeType.Breakfast).Select(a=>a.Meal.MealName).SingleOrDefault()</li>
                        <li>ŚII: @day.DayMeals.Where(a=>a.Type == DietMealApp.Core.Enums.MealTimeType.Brunch).Select(a=>a.Meal.MealName).SingleOrDefault()</li>
                        <li>Ob: @day.DayMeals.Where(a=>a.Type == DietMealApp.Core.Enums.MealTimeType.Lunch).Select(a=>a.Meal.MealName).SingleOrDefault()</li>
                        <li>Pod: @day.DayMeals.Where(a=>a.Type == DietMealApp.Core.Enums.MealTimeType.Tea).Select(a=>a.Meal.MealName).SingleOrDefault()</li>
                        <li>Kol: @day.DayMeals.Where(a=>a.Type == DietMealApp.Core.Enums.MealTimeType.Dinner).Select(a=>a.Meal.MealName).SingleOrDefault()</li>
                    </ul>
                    <div class="bot-left-corner">Kcal: @day.Kcal; W: @day.Carbohydrates; T: @day.Fats; B: @day.Protein</div>
                </div>
                <div class="card-footer text-center">
                    <div class="row">
                        <a asp-action="Edit" asp-route-Id="@day.Id" class="btn btn-primary m-1">Edytuj</a>
                        <a asp-action="Delete" asp-route-Id="@day.Id" class="btn btn-danger m-1">Usuń</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>