@model List<DietMealApp.Core.DTO.Products.ProductDTO>
@using DietMealApp.Core.Enums;
@using DietMealApp.Core.Extensions;
@{
    ViewData["Title"] = "Lista produktów";
}
<h1>Produkty</h1>

<div class="input-group col-sm-10">
    <input id="searchBox" class="form-control" placeholder="&#xF002; Wyszukaj produkt" style="font-family: Arial, 'Font Awesome 5 Free'" />
</div>

<div class="form-group mb-3 text-center d-grid gap-2 col-5 mx-auto">
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary btn-block">DODAJ NOWY</a>
</div>

<div id="listOfProducts" class="row row-cols-1 row-cols-md-6 g-2">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                @if (item.Photo150x150Path == null)
                {
                    <div style="margin:auto"><img src="http://dietmealapp.cba.pl/products/full/a9be73f2-728c-411d-ae34-df1be4420e52.png" width="150" height="150"></div>
                }
                else
                {
                    <div style="margin:auto"><img src="@item.Photo150x150Path" width="150" height="150"></div>
                }
                <div class="card-body">
                    <h5 class="card-title"> <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">@item.ProductName</a></h5>
                    <p class="card-text">@item.Category.GetDisplayName()</p>
                    <p class="card-text">@item.Kcal kcal w @item.QuantityUnit @item.Unit </p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger m-1">Usuń</a>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
        $(document).ready(function(){
         $('#searchBox').keyup(function(){
              search_cards($(this).val());
         });
         function search_cards(value){
              $('#listOfProducts > div').each(function(){
                   var found = 'false';
                   $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                             found = 'true';
                        }
                   });
                   if(found == 'true')
                   {
                        $(this).show();
                   }
                   else
                   {
                        $(this).hide();
                   }
              });
         }
    });
</script>
