@model DietMealApp.Core.ViewModels.EditShoppingListViewModel
@using DietMealApp.Core.Enums;
@using DietMealApp.Core.Extensions
@using System.Linq;
@{

}
<h1>Edytuj listę zakupów</h1>

<form id="shoppingList" method="post" class="mt-3">
    <input type="hidden" asp-for="UserId" />
    <div class="row">
        <div class="col" id="meals">
            <table id="mealsTable">
                <tr>
                    <th style="width:75%" class="col">Posiłek</th>
                    <th style="width:15%" class="col">Ilość</th>
                </tr>
                <tbody>
                    @foreach (var meal in Model.Meals)
                    {
                        <tr class="d-table-row mb-3">
                            <td style="width:75%">
                                <select class="form-control select-class" asp-for="@meal.MealId">
                                    <option selected> --Wybierz posiłek-- </option>
                                    @foreach (var mealToChoice in @Model.MealsToChoice)
                                    {
                                        <option value="@mealToChoice.Id">@mealToChoice.MealName</option>
                                    }
                                </select>
                            </td>
                            <td style="width:15%">
                                <input class="form-control quantity-class" asp-for="@meal.Quantity" placeholder="Ilość" />
                            </td>
                            <td>
                                <button type="button" style="color:red" onclick="DeleteRow(this)" class="btn"><i class="fa fa-close"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-sm-12">
                <button type="button" id="add-meal" class="btn btn-link"><i class="fa fa-plus"></i> Dodaj posiłek</button>
            </div>
        </div>
        <div class="col" id="days">
            <table id="daysTable">
                <tr>
                    <th style="width:75%" class="col">Dzień</th>
                    <th style="width:15%" class="col">Ilość</th>
                </tr>
                <tbody>
                    @foreach (var day in Model.Days)
                    {
                        <tr class="d-table-row mb-3">
                            <td style="width:75%">
                                <select class="form-control select-class" asp-for="@day.DayId">
                                    <option selected> --Wybierz dzień-- </option>
                                    @foreach (var dayToChoice in @Model.DaysToChoice)
                                    {
                                        <option value="@dayToChoice.Id">@dayToChoice.Name</option>
                                    }
                                </select>
                            </td>
                            <td style="width:15%">
                                <input class="form-control quantity-class" asp-for="@day.Quantity" placeholder="Ilość" />
                            </td>
                            <td>
                                <button type="button" style="color:red" onclick="DeleteRow(this)" class="btn"><i class="fa fa-close"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-sm-12">
                <button type="button" id="add-day" class="btn btn-link"><i class="fa fa-plus"></i> Dodaj dzień</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <table id="shoppingList" class="table table-hover">
            <tr>
                <th style="width: 60%">Produkt</th>
                <th style="width: 25%">Ilość</th>
                <th style="width: 15%">Kupione?</th>
            </tr>
            
                @foreach (ProductCategories category in (ProductCategories[])Enum.GetValues(typeof(ProductCategories)))
                {
                    <tbody id="@category">
                    <tr class="category">
                        <td colspan="3" >
                            <label>@category.GetDisplayName()</label>
                        </td>
                        <td>
                            <button type="button" class="btn fas fa-plus add-position"></button>
                        </td>
                    </tr>
                    @foreach (var product in Model.Products)
                    {
                        if (product.Product.Category == category)
                        {
                            <tr>
                                <td>
                                    <label>@product.Product.ProductName</label>
                                </td>
                                <td>
                                    <div class="editable">
                                        <label>@product.Quantity</label>
                                    </div>
                                </td>
                                <td>
                                    <input type="checkbox" />
                                </td>
                                <td>
                                    <button type="button" class="btn fas fa-edit edit-position"></button>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                }
            
        </table>
        </div>
        
    </div>
</form>
<div class="row">
    <div class="col-2">
        <button type="button" name="submit" value="days" id="btnsubmit" class="btn btn-primary m-1">Generuj nową listę</button>
    </div>
</div>

<script type="text/javascript">

$(document).on("click", ".add-position", function(){
    var body = $(this).parent().parent().parent();
    body.append('<tr><td><input type="text" class="form-control"/></td><td><input type="text" class="form-control"/></td><td><button type="button" class="btn fas fa-minus remove-position"></button></td></tr>')
});

$(document).on("click", ".remove-position", function(){
    var row = $(this).parent().parent();
    row.remove();
});

$(document).on("click", ".edit-position", function(){
    var row = $(this).parent().parent();
    var button = $(this);
    $(row).find('div.editable').each(function() {
        
        if(button.attr('editing') == '1'){
            console.log("editing 1")
            button.removeAttr('editing');
            var input = $("<div class='editable' style='text-align:left'>"+ $(row).find('input.editing').val().trim() +"</div>");
            $(row).find('div.editable').replaceWith(input);
            var newButton = $("<button type='button' class='btn fas fa-edit edit-position'></button>");
            $(row).find('button').replaceWith(newButton);
        }
        else{
            var div = $("<div class='editable' style='text-align:right'><input type='text' class='form-control editing' value='"+ $(row).find('div.editable').text().trim() +"'/></div>");
            $(row).find('div.editable').replaceWith(div);
            var newButton = $("<button editing='1' type='button' class='btn fas fa-save edit-position'></button>")
            $(row).find('button').replaceWith(newButton);
        }
    });
});
</script>