@using DietMealApp.Core.ViewModels
@model MenuWeeklyViewModel
@{
    var culture = new System.Globalization.CultureInfo("pl-PL");
}

<h1>Generowanie jadłospisu</h1>

<form asp-action="Generate" method="get" id="plan" class="mt-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @for (var i = 0; i < Model.Days.Count; i++)
    {
        <div class="form-group row">
            @Html.HiddenFor(x=>Model.Days[i].DayOfWeek)
            <label class="col-form-label">@(culture.DateTimeFormat.GetDayName((@Model.Days[i].DayOfWeek)))</label>
            <div class="col">
                <select class="form-control select-class" asp-for="@Model.Days[i].DayId">
                    <option>-- Wybierz plan na dany dzień --</option>
                    @foreach (var dayMenu in @Model.Days[i].Days)
                    {
                        <option value="@dayMenu.Id">@(dayMenu.Name + " (" + @dayMenu.DayMeals.Where(a=>a.Meal.TypeOfMeal == DietMealApp.Core.Enums.MealTimeType.Lunch).Select(a=>a.Meal.MealName).FirstOrDefault() + ")")</option>
                    }
                </select>
            </div>
        </div>
    }
</form>

<form asp-controller="Menu" asp-action="Save" method="post" id="menuForm" class="mt-3">
    <input type="button" name="generatebtn" value="Generuj" id="generatebtn" class="btn btn-primary" style="display:inline-block"/>
    <input asp-action="Save" type="submit" class="btn btn-success" value="Generuj PDF" />
    <div id="menuPlan">
</div>
</form>



<script type="text/javascript">
    $(document).ready(function () {
        $("#generatebtn").click(function () {
            var data = $('#plan').serialize();
            $.ajax({
                type: 'get',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                cache: false,
                url: "/Menu/Generate",
                data: data,
                success: function (data, textStatus, jqXHR) {
                    $("#menuPlan").html(data);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error: " + textStatus + ". ErrorThrown: " + errorThrown );
                }
            });
        });
    });
</script>